eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka
    fetchRegistry: true
    registerWithEureka: true

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
  api-docs:
    path: /api-docs

server:
  forward-headers-strategy: framework

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info