eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka
    fetchRegistry: true
    registerWithEureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info